.input-title {
  background-color: orange;
  padding: 10px;
  margin-bottom: 10px;
}
.output-title {
  background-color: green;
  padding: 10px;
  margin-bottom: 10px;
}
.general-card {
  max-width: 400px;
  margin: auto;
}

.executeButton {
  color: green;
}
.showChartButton {
  color: green;
}
.showChartAfterButton {
  color: gray;
}
.layoutSelectionButton {
  color: green;
}

.two-column-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.two-column {
  display: flex;
  border: solid 1px gray;
  padding-inline: 1rem;
  width: 100%;
  min-width: 350px;
  gap: 10px;
}
.two-column .row {
  width: 100%;
  justify-content: center;
}

.two-column .column {
  flex: 1;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.one-column-container {
  margin-top: 5rem;

  display: flex;
  justify-content: center;
}

.one-column {
  width: max-content;
  border: solid 1px gray;
}

.one-column .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection-grid {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  column-gap: 20rem;
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.selection-grid > * {
  width: 100%;
  height: 100%;
}

.output-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px;
  margin-bottom: 12px;
  margin-top: 12px;
  border: solid 1px lightgrey;
  border-radius: 4px;
}

.output-text-label {
  font-size: 0.75rem;
  color: grey;
}

.output-text-number {
  font-size: 0.9rem;
  color: black;
}

.q-card {
  width: 100%;
}

.centered-component {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-component input,
.centered-component button {
  margin: 10px auto;
  display: block;
}
